<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>My Portfolio</h1>
    </header>
    <div class="container">
        <section class="projects">
            <div class="project">
                <h2>ONLINE PSYCHIATRIST APPOINTMENT BOOKING</h2>
                <p>The project ONLINE PSYCHIATRIST APPOINTMENT BOOKING is a internet
                    based psychiatrist appointment booking system which is helpful for patients in
                    hospital . The aim of this project is to provide ease and comfort to depression patients
                    while taking an appointment from psychiatrist and it also resolves the problems that
                    the patients has to face while making an appointment.This project will reduce human
                    effort like paper work ,time lose , lack of accuracy etc. It is an effective method because the information is stored in the database .All we
                    need to do is open the database using internet and view the appointments or transfer
                    the appointment status of each patient electronically using adequate devices instead
                    of manually storing data.it can be used not only for taking appointment but also to
                    know the various hospitals that have psychiatrists.<br>
                    <h3>Software Requirements</h3>
                     <ul>
                        <li>Operating System : Windows / Linux etc</li>
                            IDE :Visual studio code</li>
<li>Back End : SQLite 3</li>
<li>Front End : Python 3.7</li>
<li>Documentation : MS Office</li>
<li>Designing tools : HTML, JAVASCRIPT, CSS, jQuery</li>
                
                </p>
                <img src="/static/assets/img/pro1/1.jpg" alt="Screenshot1">
                <img src="/static/assets/img/pro1/2.jpg" alt="Screenshot1">
                <img src="/static/assets/img/pro1/3.jpg" alt="Screenshot2">
                <img src="/static/assets/img/pro1/4.jpg" alt="Screenshot13">
                <img src="/static/assets/img/pro1/5.jpg" alt="Screenshot1">
                <img src="/static/assets/img/pro1/6.jpg" alt="Screenshot1">
                <img src="/static/assets/img/pro1/7.jpg" alt="Screenshot1">
                <img src="/static/assets/img/pro1/8.jpg" alt="Screenshot1">
                <img src="/static/assets/img/pro1/9.jpg" alt="Screenshot1">
                <img src="/static/assets/img/pro1/10.jpg" alt="Screenshot1">
                <img src="/static/assets/img/pro1/11.jpg" alt="Screenshot1">
                <img src="/static/assets/img/pro1/12.jpg" alt="Screenshot1">
                <img src="/static/assets/img/pro1/13.jpg" alt="Screenshot1">
                <img src="/static/assets/img/pro1/14.jpg" alt="Screenshot1">
                <img src="/static/assets/img/pro1/15.jpg" alt="Screenshot1">
                <img src="/static/assets/img/pro1/16.jpg" alt="Screenshot1">
                <img src="/static/assets/img/pro1/17.jpg" alt="Screenshot1">
                <img src="/static/assets/img/pro1/18.jpg" alt="Screenshot1">


            </div>
            
            <!-- Add more project sections as needed -->
        </section>
    </div>
    <footer>
        <p>&copy; 2024 My Portfolio. All rights reserved.</p>
    </footer>
</body>
</html>
