<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>My Portfolio</h1>
    </header>
    <div class="container">
        <section class="projects">
            <div class="project">
                <h2>IJFMR Publication of the paper titled "EmoCityPulse: Revolutionizing Urban Well-being through Emotional Intelligence and Predictive Analytics".</h2>
                <p>Abstract
                    In the world of smart cities, "EmoCityPulse" stands out for its innovative combination of predictive 
                    analytics and emotional/social data analysis in driving urban development. This groundbreaking 
                    framework aims to transform urban intelligence by acknowledging and dealing with the mental health of 
                    city dwellers, a factor typically disregarded in traditional smart city projects. It presents "EmoCityPulse" 
                    as a cutting-edge idea that surpasses conventional urban studies by integrating sentiment analysis and 
                    emotional cues into predictive analytics. Utilizing extensive data and sophisticated algorithms, 
                    "EmoCityPulse" seeks to gain a deep insight into city life, facilitating well-informed decision-making in 
                    key areas of urban growth. Primary goals of the project involve predicting population patterns, foreseeing 
                    obstacles, and cultivating compassionate and human-focused city spaces. Using a comprehensive research 
                    approach, the workshop delves into the complex relationship between technology, urban dynamics, and 
                    human emotions. It encourages attendees to imagine cities that are not just technologically advanced, but 
                    also emotionally intelligent, resilient, and sustainable. This provides an opportunity to examine how 
                    emotional data impacts urban planning and development, leading to discussions on the social-emotional 
                    aspects of city life. "EmoCityPulse" seeks to encourage new ideas in city design and management by 
                    exploring unexplored areas, with the goal of enhancing the creation of diverse, lively, and comfortable 
                    urban environments.
                    </p>
                <img src="/static/assets/img/pro4/img999.jpg" alt="Screenshot of Project 1" width="1300" height="700">
            </div>
            
            <!-- Add more project sections as needed -->
        </section>
    </div>
    <footer>
        <p>&copy; 2024 My Portfolio. All rights reserved.</p>
    </footer>
</body>
</html>
